<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.jolo.prototypenavigator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FileBrowser">
            <activity android:name=".ShareActivity">

                <!-- This activity handles "SEND" -->
                <intent-filter>
                    <action android:name="android.intent.action.SEND" />

                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
        </activity>
        <activity android:name=".activities.Map"/>
        <activity
            android:name=".activities.RouteListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.Map">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.jolo.prototypenavigator.activities.Map" />
        </activity>
        <activity
            android:name=".activities.RouteDetailActivity"
            android:label="@string/title_route_detail"
            android:parentActivityName=".activities.RouteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.jolo.prototypenavigator.activities.RouteListActivity" />
        </activity>

        <meta-data
            android:name="ispeech_api_key"
            android:value="fa55153dbdbf6300bfc497f4f07ffe2c" />

    </application>

</manifest>
